body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #C3F0F2;
}

a {
    color: #00B7FF;
}

#upload {
	margin: 12em auto;
    width: 12em;
}

#music_icon {
	width: 36px;
}

h1 {
	font-size: 48px;
}

#js-upload-button {
	margin-top: 10px;
	background-color: ;
	width: 250px;
	
}